---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<div style="display: flex; align-items: center; margin-bottom: 20px;">
  <div style="flex-shrink: 0; margin-right: 15px;">
    <img src="..\images\ntk_aaai_2025.png" alt="Paper Figure" width="300px">
  </div>
  <div>
    <strong><a href="">The Surprising Effectiveness of Infinite-Width NTKs for Characterizing and Improving Model Training</a></strong><br>
    <strong> Joshua DeOliveira </strong>, Walter Gerych, Elke Rundensteiner.<br>
    <strong>(To Appear in) AAAI, 2025.</strong>
  </div>
</div>

<div style="display: flex; align-items: center; margin-bottom: 20px;">
  <div style="flex-shrink: 0; margin-right: 15px;">
    <img src="..\images\Unity_KDD_2024.png" alt="Paper Figure" width="300px">
  </div>
  <div>
    <strong><a href="">Agree to Disagree: Robust Anomaly Detection with Noisy Labels</a></strong><br>
    Dennis Hoffmann, Peter VanNostrand, Lei Ma, <strong> Joshua DeOliveira </strong>, Lei Cao, Elke Rundensteiner.<br>
    <strong>(To Appear in) SIGMOD, 2025.</strong>
  </div>
</div>

---

<div style="display: flex; align-items: center; margin-bottom: 20px;">
  <div style="flex-shrink: 0; margin-right: 15px;">
    <img src="..\images\gan_stabilization.png" alt="Paper Figure" width="300px">
  </div>
  <div>
    <strong><a href="">GAN Stabilization Under Practical Training Assumptions.</a></strong><br>
   <strong> Joshua DeOliveira </strong>, Walter Gerych, Elke Rundensteiner.<br>
    <strong>IEEE Big Data, 2024.</strong>
  </div>
</div>

---

<div style="display: flex; align-items: center; margin-bottom: 20px;">
  <div style="flex-shrink: 0; margin-right: 15px;">
    <img src="..\images\har_ctgan.png" alt="Paper Figure" width="300px">
  </div>
  <div>
    <strong><a href="https://ojs.aaai.org/index.php/AAAI/article/view/26190">HAR-CTGAN: A Mobile Sensor Data Generation Tool for Human Activity Recognition.</a></strong><br>
   <strong> Joshua DeOliveira </strong>, Walter Gerych, Aruzhan Koshkarova, Elke Rundensteiner, Emmanuel Agu.<br>
    <strong>IEEE Big Data 4th Special Session on HealthCare Data, 2022.</strong>
  </div>
</div>


<div style="display: flex; align-items: center; margin-bottom: 20px;">
  <div style="flex-shrink: 0; margin-right: 15px;">
    <img src="..\images\incomplete_corpus_IEEE_2021.png" alt="Paper Figure" width="300px">
  </div>
  <div>
    <strong><a href="">GAN for Generating User-Specific Human Activity Data From An Incomplete Training Corpus.</a></strong><br>
   Walter Gerych, Harrison Kim, <strong> Joshua DeOliveira </strong>, MaryClare Martin, Luke Biquichhio, Kavin Chandrasekaran, Abdulaziz Alajaji, Hamid Mansoor, Elke Rundensteiner, Emmanuel Agu.<br>
    <strong>IEEE Big Data 3rd Special Session on HealthCare Data, 2021.</strong>
  </div>
</div>




